header{
  background: #3E3E3E;
  padding: 10px 0px 0px 0px;
}
.logo{
  margin-left: 15px;
}
.bg-dark {
  background-color: #000000!important;
}
#sidebar-wrapper {
  min-height: 100vh; 
  padding: 0px 20px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
.menu-icon{
  display: none;
}
@media only screen and (max-width: 991px) {
  header{
    text-align: center;
  }
  #sidebar-wrapper{
    margin-left: -165px;
  }
 .open{
  margin-left: 0px !important;
  z-index: 999;
  position: absolute;
  height: 500px !important;
  }
  .menu-icon{
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    cursor: pointer;
  }
}
#sidebar-wrapper .list-group-item {
  position: relative;
  display: block;
  padding: 1.75rem 1.25rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-width: 2px !important;
  border-radius: 28px !important;
  margin-top: 30px;
  color: #fff;
}
#sidebar-wrapper .list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #C34040 !important;
  border-color: #C34040 !important;
}
#sidebar-wrapper .list-group-item-action:focus, .list-group-item-action:hover {

  background-color: #C34040 !important;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
#page-content-wrapper{
  width:100%;
}
.bg-video{
  min-height: 100vh; 
  background: #3E3E3E;
}
.video{
  width:100%;
}
.bg-chat{
  min-height: 100vh; 
  background-color: #000000!important;
  position: relative;
}
.bg-chat .form-control { 
  color: #fff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 0px;
 
}
.chat-icon{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
}
.right-icon{
  position: absolute;
  top: 7px;
  right: 10px;
  height: 25px;
}
.btn-outline-light:hover {
  color: #fff;
  background-color: #c34040;
  border-color: #c34040;
}
.right-icon-top{
  top: 35px !important;
}
.form-control::-webkit-input-placeholder { /* Edge */
  color:#fff;
}

.form-control::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#fff;
}

.form-control::placeholder {
  color:#fff;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
  width: 50%;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #fff;
  background: #3e3e3e;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #c34040;
  border-color: #c34040 #c34040 #c34040;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
  color: #fff;
}
.chatoverflow{
  height: 425px;
  overflow: auto;
  scrollbar-color: #03afb5 #fff;
scrollbar-width: thin;
}
div::-webkit-scrollbar {
	width: 5px;
	border-bottom-right-radius: .5rem !important;
}

/* Track */

div::-webkit-scrollbar-track {
	background: #fff;
	border-bottom-right-radius: .5rem !important;
}

/* Handle */

div::-webkit-scrollbar-thumb  {
	background: #C34040;
	border-bottom-right-radius: .5rem !important;
}

.font18{
  font-size: 18px;
}
.font12{
  font-size: 12px;
}
.font14{
  font-size: 14px;
}
.circle-img{
  width:50px;
  height: 50px;
}
.approval{
    background: #8A5151;
    color: #fff;
    padding: 10px 30px;
}
.chatoverflow .list-group-item{
  background-color: transparent !important;
  border: 1px solid rgba(0,0,0,.125) !important;
  padding: .75rem 0px !important;
}
.chatoverflow svg{
  fill:#A9A9A9;
}

.chatoverflow .active svg{
  fill:#478BDB!important;
}